<div class="content">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <mat-icon fontIcon="work" style="color: #97A4F6; font-size: 28px;"></mat-icon>
            <h4 style="margin-left: 40px;">Work Tasks</h4>
        </div>
        <div>
            <mat-icon fontIcon="add" style="color: #97A4F6; font-size: 28px; line-height: 28px;"></mat-icon>
        </div>
    </div>
    <div class="task-list mt-5 row">
        <div class="col-4 p-3"><app-task-card></app-task-card></div>
        <div class="col-4 p-3"><app-task-card></app-task-card></div>
        <div class="col-4 p-3"><app-task-card></app-task-card></div>
    </div>
</div>