<div class="task-card p-3">
    <div class="task-header">
        <div class="task-title" style="font-size: 18px; font-weight: 6  00;">Fix Coollia Error</div>
        <mat-icon fontIcon="radio_button_checked" style="color: #ffa938; "></mat-icon>
    </div>
    
    <div class="task-description">lorem ipsum aofjef q qfwegwegweg weg ewe gwegweg weg wgwegreg wegweg w wrhwrh rher reherherh </div>
    <div class="task-footer d-flex justify-content-between">
        <div class="task-time">23/02/2022 at 18:25:00</div>

        <div class="btn btn-sm" style="background-color: rgb(171, 243, 155);">Mark as done</div>
    </div>
</div>