<div class="row w-100">
  <div class="col-md-2" style="display: flex; align-items: center; height: 100vh;">
    <ul class="navlist">
      <a routerLink="/work" routerLinkActive="active">
        <li class="d-flex">
            <mat-icon aria-hidden="false" fontIcon="work" style="color: #97A4F6;"></mat-icon>
            <p style="margin-left: 10px;">Work</p> 
        </li>
      </a>
      <a routerLink="/study" routerLinkActive="active">
        <li class="d-flex">
            <mat-icon aria-hidden="false" fontIcon="draw" style="color: #4ECB71;"></mat-icon>
            <p style="margin-left: 10px;">Study</p> 
        </li>
      </a>
      <a routerLink="/personal" routerLinkActive="active">
      <li class="d-flex">
        <mat-icon aria-hidden="false" fontIcon="person" style="color: #FF585C;"></mat-icon>
      <p style="margin-left: 10px;">Personal</p> 
      </li>
      </a>
    </ul>
  </div>

  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>